:root {
  --section-width: 600px;
  --section-height: 300px;
  --word-card-height: 100px; /* 定义每张卡片的高度 */
  --row-gap: 100px; /* 定义行间距 */
}

/* 添加主题避免组件默认hover黑色 */
.v-theme--light{
  --v-hover-opacity: 0.04;
  --v-theme-overlay-multiplier: 1;
}